@using ArmedBooks.BBL.Dtos
@model IEnumerable<ProductDto>

@{
    ViewData["Title"] = "Barcha mahsulotlar";
    Layout = "_Layout";
}

<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h2>Ishonchli va xavfsiz texnologiyalarni kashf eting!</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="products">  
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filters">
                    <ul>
                        <li><a asp-action="Products" asp-controller="Home" asp-route-id="">Barcha mahsulotlar</a></li>
                        <li><a asp-action="Products" asp-controller="Home" asp-route-id="3a9e6679-7425-41de-911b-e07fc1f90ae4">Getac</a></li>
                        <li><a asp-action="Products" asp-controller="Home" asp-route-id="6c1e6679-7425-41de-933b-e07fc1f90ae2">Panasonic</a></li>
                        <li><a asp-action="Products" asp-controller="Home" asp-route-id="7c1e6679-7425-41de-944b-e07fc1f90ae1">Dell</a></li>
                        <li><a asp-action="Products" asp-controller="Home" asp-route-id="9c1e6679-7425-41de-988b-e07fc1f90ae3">Zebra</a></li>
                    </ul>
                </div>
            </div>
            @if(!Model.Any())
            {
                <div class="col-md-12">
                    <p>Hozircha mahsulotlar mavjud emas.</p>
                </div>
            }
            else
            {
                @foreach (var product in Model)
                {
                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="#"><img src="@Url.Content(@product.ImagePaths?.FirstOrDefault())" alt="@product.Brand"></a>
                            <div class="down-content">
                                <a href="@Url.Action("Details", "Home", new { id = product.Id })"><h4>@product.Brand</h4></a>
                                <h6>@product.Price.ToString()</h6>
                                <p>@product.About</p>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>