@using ArmedBooks.BBL.Dtos
@model IEnumerable<ProductDto>

@{
    ViewData["Title"] = "Barcha mahsulotlar";
    Layout = "_Layout";
}

<!-- Page Content -->
<div class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h2>Ishonchli va xavfsiz texnologiyalarni kashf eting!</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Mahsulotlar</h2>
                </div>
            </div>
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="product-item">
                            <a href="#"><img src="@Url.Content("~/" + @product.ImagePath)" alt="@product.Brand"></a>
                        <div class="down-content">
                            <a href="#"><h4>@product.Brand</h4></a>
                            <h6>@product.Price.ToString()</h6>
                            <p>@product.About</p>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
